@model AirSicknessBags.Models.Linksmvccore

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Linksmvccore</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="LinkNumber" />
            <div class="form-group">
                <label asp-for="BagId" class="control-label"></label>
                <input asp-for="BagId" class="form-control" />
                <span asp-validation-for="BagId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PersonId" class="control-label"></label>
                <input asp-for="PersonId" class="form-control" />
                <span asp-validation-for="PersonId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FrontFileName" class="control-label"></label>
                <input asp-for="FrontFileName" class="form-control" />
                <span asp-validation-for="FrontFileName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BackFileName" class="control-label"></label>
                <input asp-for="BackFileName" class="form-control" />
                <span asp-validation-for="BackFileName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BottomFileName" class="control-label"></label>
                <input asp-for="BottomFileName" class="form-control" />
                <span asp-validation-for="BottomFileName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MiddleName" class="control-label"></label>
                <input asp-for="MiddleName" class="form-control" />
                <span asp-validation-for="MiddleName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

