@{
    ViewData["Title"] = "Contact";
}
<h1>@ViewData["Title"]</h1>

<p>Contact the curator (Steve Silberberg) at <a href="mailto:curator@airsicknessbags.com">curator@airsicknessbags.com</a></p>
<p>For donations (thank you!) and swaps, the physical address is</p>
<p>Steve Silberberg<br />
    9 3rd St<br />
    Hull, MA 02045<br />
    USA</p>
